<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd"
	   default-autowire="no">

	<bean id="gravatarManager" class="org.jboss.community.sbs.plugin.gravatar.GravatarManagerImpl">
		<property name="md5Encoder" ref="md5Encoder"/>
		<property name="gravatarDAO" ref="gravatarDAO"/>
		<property name="userManager" ref="userManager"/>
	</bean>

	<bean id="md5Encoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>

	<bean id="gravatarDAO" class="org.jboss.community.sbs.plugin.gravatar.dao.DbGravatarDAOImpl">
		<property name="dataSource">
			<util:property-path path="dataSourceFactory.dataSource"/>
		</property>
	</bean>

	<bean id="gravatarRefreshPeriodTask" class="com.jivesoftware.base.taskmanager.AutoStartFixedPeriodTask">
		<property name="allNodes" value="true"/>
		<property name="beanName" value="gravatarRefreshTask"/>
		<property name="methodName" value="run"/>
		<property name="switchProperty" value="gravatarRefresh.enabled"/>
		<property name="switchPropertyDefault" value="true"/>
		<property name="period" value="1"/>
		<property name="timeUnit" ref="HOURS"/>
	</bean>

	<bean id="gravatarRefreshTask" class="org.jboss.community.sbs.plugin.gravatar.RefreshCacheTask">
		<property name="gravatarManager" ref="gravatarManager"/>
	</bean>

</beans>
